.head-bar {
    background-color: #e9e9e9!important;
    border: #ddd solid 1px;
}

.head-text {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    padding: .7em 0;
    margin: 0 10%;
}

.head-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    margin: .375rem .35rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.status1 {
    align-items: center!important;
    width: 115px!important;
    border: 1px solid #e93631!important;
    background-color: #e93631!important;
    color: #fff!important;
    padding: .5rem!important;
    margin-right: 8px!important;
}

.status2 {
    align-items: center!important;
    width: 115px!important;
    border: 1px solid #31a11b!important;
    background-color: #31a11b!important;
    color: #fff!important;
    padding: .5rem!important;
    margin-right: 8px!important;
}

.status3 {
    align-items: center!important;
    width: 115px!important;
    border: 1px solid #f0691b!important;
    background-color: #f0691b!important;
    color: #fff!important;
    padding: .5rem!important;
    margin-right: 8px!important;
}

.status4 {
    align-items: center!important;
    width: 115px!important;
    border: 1px solid #bebfc0!important;
    background-color: #bebfc0!important;
    color: #000!important;
    padding: .5rem!important;
    margin-right: 8px!important;
}

.my-col-menu {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 10px;
}

.my-col-5,
.my-col-7 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.view-col-num {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.view-col-item {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.my-col-menu {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.my-col-5 {
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
}

.my-col-7 {
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}

@media (min-width:768px) {
    .view-col-num {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    
    .view-col-item {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .my-col-menu {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .my-col-5 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .my-col-7 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.processName {
    text-align: center;
    font-weight: bolder;
    font-size: 12px!important;
}

.head_text {
    font-weight: bolder;
}

#P_Status_text,
#S_Status_text,
#W_Status_text {
    font-size: 12px!important;
}

.hpt_name {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.hpt_img {
    max-width: 100%;
    max-height: 40px;
    height: auto;
}

.logo {
    width: 100%;
    height: 100%;
    position: absolute;
}

.index_logo {
    margin-top: 250px;
    max-width: 100%;
    max-height: 120px;
    height: auto;
}

.p-4-25 {
    padding: 1.75rem!important
}

.pt-4-25,
.py-4-25 {
    padding-top: 1.75rem!important
}

.pr-4-25,
.px-4-25 {
    padding-right: 1.75rem!important
}

.pb-4-25,
.py-4-25 {
    padding-bottom: 1.75rem!important
}

.pl-4-25,
.px-4-25 {
    padding-left: 1.75rem!important
}